<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apoia-se</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
    <%- include('partials/navbaradmin') %>
    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="card border-0 border-bottom border-primary shadow-sm">
          <div class="card-body text-center p-4 p-xxl-5">
            <img src="/img/qr.svg" alt="">
            <h4 class="mb-4">Apoie o nosso Projeto!</h4>
            <p class="mb-4 text-secondary">Para apoiar através do PIX, escaneie o QR Code acima. Qualquer valor é bem-vindo e será utilizado para manter e aprimorar nossa plataforma, ampliando assim nosso alcance e impacto na comunidade.</p>
           
              
              
              </svg>
            </a>
          </div>
        </div>
      </div>
      
      
</body>
<script src="/js/bootstrap.min.js"></script>
</html>