<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
    <%- include('partials/navbaradmin') %>
    <div class="container my-5">
        <div class="p-5 text-center bg-body-tertiary rounded-3 border border-primary">
          <svg class="bi mt-4 mb-3" style="color: var(--bs-indigo);" width="100" height="100"><use xlink:href="#bootstrap"></use></svg>
          <h1 class="text-body-emphasis">Projeto CRA</h1>
          <br>
          <p class="col-lg-8 mx-auto fs-5 text-muted" style="text-align: justify;">
            Olá a todos! É com grande entusiasmo que apresentamos a vocês o CRA - Child Rescue Alert , um projeto notável desenvolvido pelos alunos da FATEC Diadema. Nosso objetivo é simples, mas vital: criar uma plataforma dedicada ao anúncio de desaparecimentos de crianças, a fim de aumentar suas chances de retorno seguro às suas famílias amorosas. O CRA é mais do que apenas um site; é um farol de esperança em momentos de desespero. Ao compartilhar informações sobre crianças/adolescentes desaparecidas e encorajar uma ampla divulgação, estamos unindo forças para trazer conforto e alívio às famílias que enfrentam situações angustiantes. Cada clique, cada compartilhamento, cada ato de solidariedade nos aproxima mais do nosso objetivo comum: reunir famílias e trazer de volta sorrisos aos rostos de crianças perdidas. Convidamos calorosamente a todos a visitarem o CRA, a conhecerem as histórias das crianças desaparecidas e a se tornarem parte desta missão de amor e compaixão. Juntos, podemos fazer a diferença. Juntos, podemos trazer esperança e segurança para aqueles que mais precisam. Visite-nos em CRA.com e junte-se a nós nesta jornada de solidariedade e esperança. Agradecemos imensamente por seu apoio contínuo.
          </p>
          <div class="d-inline-flex gap-2 mb-5">
          </div>
        </div>
      </div>
      
    
</body>
<script src="/js/bootstrap.min.js"></script>
</html>